/* Write your CSS code here */
.nav-header {
  height: 15vh;
  color: #551e53;
  font-weight: bold;
  width: 100%;
  font-family: 'Roboto';
}
.logo-style {
  margin: 20px;
  width: 50px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  margin-right: 10px;
  color: #551e53;
  font-family: 'Roboto';
}
@media screen and (max-width: 768px) {
  .nav-link {
    margin-right: 5px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.blog-title {
  font-family: 'Roboto';
  color: white;
  font-size: 16px;
}
.sub-title {
  color: white;
  font-family: 'Roboto';
  margin-top: 0px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
  cursor: pointer;
}

@media screen and (min-width: 575px) {
  .blog-title {
    font-family: 'Roboto';
    color: white;
    font-size: 34px;
  }
}
